.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 40px;
  z-index: 1;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}
